#box {box-sizing: border-box;
    position: absolute;
    margin-top: 1%;
    padding: 1%;
    height: 100%;
    width: 100%;}

#div1 {position: relative;
    padding: 0px;
    width: 100%;
    height: 20%;
    
    }

#div2 {
    position: relative;
    padding: 0px;
    width: 20%;
    height: 80%;
    background-color: lightblue;
    }

    #div3 {
        position: relative;
        padding: 0px;
        width: 80%;
        height: 150%;
        left: 20%;
        bottom: 80%;
        
        }

#div13 {
    position: relative;
    padding: 0px;
    width: 80%;
    height: 74%;
    left: 20%;
    bottom: 80%;
    }

#sagas{
    position: relative;
    padding: 0%;
    width: 32%;
    height: 350px;
    left: 12%;
    margin:1% ;
    background-color: white;

}

#saga1{
    position: relative;
    padding: 0%;
    width: 32%;
    height: 350px;
    margin:1% ;
    background-color: white;
    left: 50%;
    bottom: 36%;
}

#div4 {
    position: relative;
    padding: 0px;
    width: 80%;
    height: 10%;
    left: 20%;
    bottom: 80%;
    }

#div14 {
    position: relative;
    padding: 0px;
    width: 80%;
    height: 10%;
    left: 21%;
    top: 580px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 170px;
        }

ul li{
    position: relative;
}

li ul{
    position: absolute;
    left: 100%;
    top: 0%;
    display: none;
}

ul li a{
    display: block;
    text-decoration: none;
    color: E2144A;
    background: #fff;
    padding: 0%;
    border: 1px solid black;
    height: 70px;
    font-size: 30px;
    background-color: lightblue;
}
li:hover ul {display: block;}

ul li a:hover{
    text-decoration:underline;
    font-weight: bold;
    background: #ccc; }

#img1{position: absolute;
    width: 19%;
    height: 100%;
    background-color: transparent;}

#img2 {
    position: relative;
    left: 93.5%;
    height: 100%;
    width: auto;
}

#img3 {
    position: relative;
    left: 80%;
    height: 100%;
    width: auto;
}

#img4 {
    position: relative;
    left: 66.7%;
    height: 100%;
    width: auto;
}

#img5 {
    position: relative;
    left: 53%;
    height: 100%;
    width: auto;
}

#img6 {
    position: relative;
    left: 39.5%;
    height: 100%;
    width: auto;
}

#img7 {
    position: relative;
    left: 26%;
    height: 100%;
    width: auto;
}

#img8 {
    position: relative;
    left: 12.5%;
    height: 100%;
    width: auto;
}

#img9 {
    position: relative;
    right: 1%;
    height: 100%;
    width: auto;
}

#img10 {
    position: relative;
    right: 14.5%;
    height: 100%;
    width: auto;
}

#img11 {
    position: relative;
    right: 40%;;
    height: 100%;
    width: auto;
}

body{background: mediumaquamarine no-repeat right top fixed;}

#c1{position: relative;
    height: 40%;
    width: 20%;}

#c2{position: relative;
    height: 40%;
    width: 20%;}

#c3{position: relative;
    height: 40%;
    width: 20%;}

#c4{position: relative;
    height: 40%;
    width: 20%;}

#c5{position: relative;
    height: 40%;
    width: 20%;}

#c6{position: relative;
    height: 40%;
    width: 20%;}

#c7{position: relative;
    height: 40%;
    width: 20%;}

#c8{position: relative;
    height: 40%;
    width: 20%;}

#yk{position: relative;
    background-color: white;
    height: 20px;
    width: 77%;
    top: 470px;}

#kai{position: relative;
    height: 377px;
    width: 400px;
    }
#mom{position: relative;
    height: 377px;
    width: 400px;}
#link1{font-size: 30px;}
#table1{background-color: #fff;}


    
